* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
}

a {
	color: white;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	li {
		margin-right: 10px;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}